<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>LifeStyleMaven</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  		<servlet-name>Life</servlet-name>
  		<servlet-class>com.revature.servlets.LifeCycleServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>Life</servlet-name>
  		<url-pattern>/cycle/1</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
  		<servlet-name>Life</servlet-name>
  		<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>Other</servlet-name>
  		<servlet-class>com.revature.servlets.OtherServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Other</servlet-name>
  		<url-pattern>/myOtherServlet</url-pattern>
  </servlet-mapping>
  
</web-app>