<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ServletExample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Example</servlet-name>
    <servlet-class>com.example.servlet.ServletExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example</servlet-name>
    <url-pattern>/Example</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DirectServlet</display-name>
    <servlet-name>DirectServlet</servlet-name>
    <servlet-class>com.example.servlet.DirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectServlet</servlet-name>
    <url-pattern>/DirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndirectServlet</display-name>
    <servlet-name>IndirectServlet</servlet-name>
    <servlet-class>com.example.servlet.IndirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndirectServlet</servlet-name>
    <url-pattern>/IndirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanetGenerator</display-name>
    <servlet-name>PlanetGenerator</servlet-name>
    <servlet-class>com.example.servlet.PlanetGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanetGenerator</servlet-name>
    <url-pattern>/PlanetGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Objecty</display-name>
    <servlet-name>Objecty</servlet-name>
    <servlet-class>com.example.servlet.Objecty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Objecty</servlet-name>
    <url-pattern>/Objecty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServlet</display-name>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>com.example.servlet.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/CookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.example.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterServlet</display-name>
    <servlet-name>MasterServlet</servlet-name>
    <servlet-class>com.example.servlet.MasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
</web-app>